header {
  background-color: gray;
  border: black 1px solid;
  /*border-top: black 1px solid;*/
}

section.snack-group {
  border: black 1px solid;
  border-radius: 25px;
  margin: 20px 45px;
  padding: 20px;
  overflow: hidden;
}

section.snack-list article {
  /*display: inline-block;*/
  /*clear: both;*/
  /*I'd remove this since it's empty but here just for demonstration purposes*/
}

section.snack-list article img {
  float: left;
  /*clear: both;*/

  /*height: ;*/
  width: 33%;
}

h4.snack-num {
  clear: both;
  /*display: inline; */
}

footer {
  clear: both;
}

footer h4, p {
  display: inline;
  padding: 15px;
}
